*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    width: 100%;
    height: 78px;
    background-color: rgb(51,51,51);
    color: white;
    position: fixed;
    z-index: 3;
}
a{
    color: white;
    text-decoration: none;
    margin: 24px;
    font-size: 17px;
}
.logo{
    width: 30%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.nav-btn{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
    
}
.logo h1{
    font-size: 24px;
    font-weight: 700;
}
a:hover{
    color: rgb(198, 198, 198);
}
.logo h1:hover{
    color: rgb(198, 198, 198);
    cursor: pointer;
}


.banner img{
    width: 100%;
    height: 100vh;
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}
.banner{
    position: sticky;
    top: 0px;
    z-index: -1;
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}
.banner-text{
    width: 100%;
    top: 30%;
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(132, 132, 132);
}
.banner-text h1{
    font-size: 4rem;
    font-weight: 600;
    margin: 16px;
}
.banner-text p{
    font-size: 1.5rem;
}
.banner-text button{
    margin-top: 3rem;
    width: 180px;
    height: 50px;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    z-index: 1;
}
.banner-text button:hover{
    background: none;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.content-div{
    background-color: rgb(242,242,242);
}

.service{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.service h2{
    margin-top: 5rem;
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: bold;
}
.service p{
    font-size: 18px;
    font-weight: 400;
}
.services-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 320px;
    background-color: white;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(137, 137, 137);
    border: none;
    justify-content: center;
    align-items: center;
}
.cards img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 16px auto;
}
.cards h3{
    font-size: 20px;
    font-weight: 600;
}
.cards p{
    padding: 8px 32px;
    font-size: 16px;
    text-align: center;
}


.about-us{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.about-us h3{
    margin-top: 5rem;
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: bold;
}
.about-us p{
    font-size: 18px;
    font-weight: 400;
}
.story{
    padding: 1rem;
    margin: 1rem 0px;
}
.story h4{
    font-size: 20px;
    font-weight: 700;
    margin: 0.5rem 0px;
}
.story p{
    font-size: 17px;
    line-height: 1.5rem;
    font-weight: 400;
    word-spacing: 5px;
}
.story ul{
    padding-left: 1rem;
    font-size: 17px;
    line-height: 1.25rem;
    font-weight: 400;
    word-spacing: 5px;
}


.contact-us{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
}
.contact-us h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 0.5rem 0px;
}
.contact-us p{
    font-size: 17px;
    line-height: 1.5rem;
    font-weight: 400;
    word-spacing: 5px;
    text-align: center;
}
.add-form{
    display: flex;
    margin: 1rem 0px;
    padding: 1.5rem;
}
.address{
    width: 50%;
    margin-top: 5rem;
}
.add-line{
    display: flex;
    margin: 0.5rem 0px;
}
.add-line p{
    margin-left: 6px;
}


.form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form input{
    margin: 1rem;
    width: 520px;
    height: 44px;
    font-size: 16px;
    padding: 4px 8px;
}
.form textarea{
    margin: 1rem;
    width: 520px;
    height: 150px;
    font-size: 16px;
    padding: 4px 8px;
}
.form button{
    margin: 1rem;
    width: 164px;
    height: 44px;
    color: white;
    background-color: rgb(38, 38, 38);
    border-radius: 4px;
    font-size: 1rem;
}
.form button:hover{
    background-color: rgb(69, 69, 69);
}
